[Desktop Entry]
Version=2.0
Name=IA converter
GenericName=IA converter
X-GNOME-FullName=IA converter
Comment=Convert svg to html5 interactive pictures
Comment[fr]=Convertit le svg en des images interactives html5
Type=Application
Categories=Graphics;
MimeType=image/svg+xml;application/illustrator;
Exec=ia-converter
Terminal=false
Icon=/usr/share/pyshared/iaConvert/images/image-active.gif


