[Desktop Entry]
Name=XIA converter
GenericName=XIA converter
X-GNOME-FullName=XIA converter
Comment=Convert svg to html5 interactive pictures
Comment[fr]=Convertit le svg en des images interactives html5
Type=Application
Categories=Graphics;
MimeType=image/svg+xml;application/illustrator;
Exec=xia-converter
Terminal=false
Icon=/usr/lib/python2.7/dist-packages/converter/images/image-active.gif


