@import url(http://fonts.googleapis.com/css?family=Rye);
body{
    background: #000000;
    background-image: url('../img/background2.jpg');
    margin:0;
    padding:0px;
}
h3 {
    font-family: Rye;
    color:#FFF3B2;
    position:absolute;
    top:0;
    left:10px;
}
#detect, #canvas {
    margin:0;
    padding:0;
}
#container {
    position: relative;
    padding-left:15px;
    padding-right:15px;
    width:1000px;
    margin:10px auto;
    border:0px solid #FFF3B2;
    background-color: rgba(100,100,100,0.4);
    border-radius:10px;
}
#detect {
    position:absolute;
    top:0;
    left:0;
    width:1000px;
    height:655px;
}
.accordion {
    position:absolute;
    top:50px; 
    left:550px;
    width:450px;
    color:black;
    font-size:1.2em;	
}
.accordion-heading {

    border-radius:5px;
    border-top:10px;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}
.accordion-group {
    border:0px;
}
.accordion-heading a{
    text-decoration:none;
    color:black;
}
.accordion-inner {
    position: relative;
    background:white;
}
#accordion2 {
    overflow:hidden;
    max-height:655px;
}
.response {
    display:none;
}
.response:target {
    display:block;
}
.button {
    background-color: #dddddd;
    position:relative;
    right:0px;
    border-radius: 5px;
    padding: 5px;
}
