[paths]
imagesPath = share/images
langPath = share/i18n
fontsPath = share/fonts
themesPath = share/themes
labjsLib = share/vendors/LAB.min.js
jqueryLib = share/vendors/jquery.min.js
kineticLib = share/vendors/konva.min.js
sha1Lib = share/vendors/git-sha1.min.js
quantizeLib = share/vendors/quantization.min.js
xiaEngine = share/xiaengine/xia.js

[version]
numVersion = 3.0
releaseVersion = -alpha6
