[paths]
imagesPath = share/images
langPath = share/i18n
fontsPath = share/fonts
themesPath = share/themes
labjsLib = share/vendors/LAB.min.js
jqueryLib = share/vendors/jquery.min.js
kineticLib = share/vendors/kinetic.min.js
sha1Lib = share/vendors/git-sha1.min.js

[version]
numVersion = 1.1
releaseVersion =