/*fonts*/
@font-face {
    font-family: 'yanone_regular';
    src: url('../font/yanonekaffeesatz-regular-webfont.eot');
    src: url('../font/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('../font/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
         url('../font/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'yanone_thin';
    src: url('../font/yanonekaffeesatz-thin-webfont.eot');
    src: url('../font/yanonekaffeesatz-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/yanonekaffeesatz-thin-webfont.woff') format('woff'),
         url('../font/yanonekaffeesatz-thin-webfont.ttf') format('truetype'),
         url('../font/yanonekaffeesatz-thin-webfont.svg#yanone_kaffeesatzthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*fin de font*/

/* override Wahid */

html {
  margin:0;
  padding:0;
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}
body{
    background: none;
    margin:0;
    border:none;
    margin-top:0px;
    padding:0px;
}
video {
    width:100%;
}
audio {
    width:100%;
}
a {
    color:#00c6ff;
}
a:active, a:focus, a:hover {color:#FFF;}
header {
    width:100%; 
    padding:0; 
    margin:0 auto; 
    background:#000;
}

header h1 {    
    margin:0;
    top:0;
    left:0px;
    background:url(../img/imagedoc-darknoise.png);
    display:inline;
    max-width:20%;
    padding: 0px 1em 0 5px;
    margin-bottom:0; 
    color:#00C6FF;
    font-family: yanone_thin; 
}


.eyes { 
    background:url(../img/eyes.png) center bottom no-repeat;
    margin-left: 10px;
    padding:.3em 1em;
}
.eyes:hover {
    background:url(../img/eyes2.png) center bottom  no-repeat;
}
.meta-doc {
    background:url(../img/meta-doc.png) center bottom  no-repeat;
    margin-left: 10px;padding:.3em 1em
}
.meta-doc:hover{
    background:url(../img/meta-doc2.png) center bottom  no-repeat;
}
.infos {
    background:url(../img/infos.png) center bottom no-repeat;
    margin-left: 10px;
    padding:.3em 1em; 
}
.infos:hover{
    background:url(../img/infos2.png) center bottom  no-repeat;
}
.title-document {display: block;}

h1 {
    font-size:2em;
}
@media screen and (max-width: 640px) {
    body {
        font-size:0.7em;
    }
    h1 {
        font-size:1.5em;
    }
    h3 {
        font-size:0.5em;
    }
}
#detect, #canvas {
    margin:0;
    padding:0;
}
#container {
    position: relative;
    padding:0px;
    width:1000px;
    margin:20px auto;
    border:0px solid #FFF3B2;
    background: #000000; /* Old browsers */

}
#canvas {
    width:55%;
    border:0px solid white;
    border-radius:5px;
}
#detect {
    position:absolute;
    top:50px;
    left:0;
    width:100%;
    height:655px;

}

.accordion {
    position:absolute;
    top:50px; 
    left:58%;
    width:40%;
    color:black;
    /*font-size:1.2em;	*/

}
.accordion-body a{
    text-decoration:none;
    color:black;
    font-style: italic;
}
.accordion-body a:hover{
    text-decoration:none;
    color:black;
    background:#DDDDDD;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;    
}
.accordion-body a{
    text-decoration:none;
    color:black;
}
a.accordion-toggle { 
    font-family:yanone_regular; 
    color:#00c6ff;
    font-size:2em;
    text-decoration:none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.accordion-toggle:hover {
    color:#FFF;
}
.accordion-group {
    border:0px;
}

.accordion-inner {
    position: relative;
    background:white;
}
#accordion2 {
    /*overflow:auto;*/
    max-height:655px;
}
.response {
    display:none;
}
.response:target {
    display:block;
}
.button {
    background-color: #dddddd;
    position:relative;
    right:0px;
    border-radius: 5px;
    padding: 5px;
}
/* popup */
#overlay {
    display:none;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(0,0,0,0.6);
}
#popup {
    position:relative;
    border-radius: 20px;
    border: 20px solid #ddd;
    width: 60%;
    margin: 50px auto;
    background:white;
    min-height: 100px;
    box-shadow: black 5px 5px 10px;
}
#popup_text {
    text-align:center;
}
#popup_text img{
    float:left;
    width:100px;
}
#content #message_success {
    overflow-x:visible;
    overflow-y:visible;
}
#popup_close, #popup_toggle {
    cursor: pointer;
    position:absolute;
    top:-40px;
    right:-40px;
    width:50px;
}
#loader {
    position:fixed;
    display: table;
    text-align:center;
    width:100%;
    height:100%;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: black;
    z-index:100;
}
#loader div{
    font-family: yanone_thin, Arial;
    font-size: 2em;    
    display:table-cell;
    vertical-align: middle;
    color:white;
}
.videoWrapper16_9 {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 5px;
    height: 0;
}
.videoWrapper4_3 {
    position: relative;
    padding-bottom: 75%; 
    padding-top: 5px;
    height: 0;
}
.videoWrapper16_9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videoWrapper4_3 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}